body{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    margin: 0;
}
header, footer{
    background-color: aqua;
}
main{
    margin:0 auto;
    text-align: center;
}
.LoginForm{
    width: 100%;
}
.LoginForm div{
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 30px auto;
}
.fieldText{
    margin-top: 0px;
}
.LoginForm div input[type=text] , .LoginForm div input[type=email], .LoginForm div input[type=tel]{
    padding: 10px;
    border: solid green;
}
.LoginForm div button{
    background-color: red;
    margin-top: 30px;
    padding: 10px;
}
.LoginForm div button:hover{
    background-color: green;
}
.EduInf{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.EduInf div{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}