/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #c4c4c4;
}

header{
    border: 2px solid #b1b1b1;
	border-bottom: 0px;
    max-width: 700px;
	min-width: 500px;
	background-image: url("Eye.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
/* .h-img{
	background-image: url("Eye.png");
	background-size: 100%;
	background-repeat: no-repeat; 
	position: fixed;
	width: 500px;
	z-index:1;
	display: block;
	height: 200px;
} */

/* header::before {
	content: "";
	position: fixed;

	z-index: -1;
  
	display: block;
	background-image: url('Eye.png');
	background-size:cover;
	width: 495px;
	height: 30%;
  
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
} */

.h-text h1{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 40px;
	color: white;
}

.h-text h2{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
	color: white;
}

.h-text{
	margin: 30px;
}

.h-text hr{
	margin: 0px;
	width: 300px;
	color: white;
	height: 1px;
	background-color: white;
	border: 0px;
}

.f-border{
	border: solid 2px #b1b1b1;
	max-width: 700px;
	min-width: 500px;
	background-color: white;
}

.f-body table{
	width: 100%;
	text-align: left; 

}

p{
	color: #6f47ff;
}


.inp{
    margin-top: 10px;
	width: 170px;
	height: 30px;
	border: solid 1px red;


}

#sus{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#sos{
	margin-top: 10px;
	width: 176px;
}

.f-body{
	margin: 30px;
}

.f-body p{
	text-align: left;
}



.f-body th{
	padding-bottom: 10px;

}


.f-body hr{
	background: linear-gradient(to right, #b9a5ff, #6f47ff);
	height: 3px;
	border: 0px;
	margin-bottom: 20px;
}

.c-body .inp{
	width: 100%;
	height: 100px;
}

button{
	border: 0px;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	background-color:#6f47ff;
	color: white;
}



