body {
    background-image: url("Texture.png");
    text-align: center;
}
h1 {
    text-align: center;
    text-shadow: 10px;
    color: aqua;
    font-size: 55px;
}

p{
    font-size: 25px;
}

.mainImg {
    width: 600px;
    height: 400px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 3s;
    animation-name: breathing;
    animation-iteration-count: infinite;
}

.inlineImg {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}
@keyframes fade {
    0%    {opacity: 0;} 
    100%  {opacity: 1;}
}
img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

summary {
    text-shadow: 10px;
    color: rgb(134, 0, 78);
    font-size: 35px;
    margin: 20px;
}

footer img{
    max-height: 130px;
    max-width: 130px;
}

@keyframes breathing {
    from {
        height: 400px;
        width: 100px;
    }
    50% {
        height: 400px;
        width: 100%;
    }
    to {
        height: 400px;
        width: 100px;
    }
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}