#sec1 {
	background-color: aquamarine;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap:  wrap;
}

#sec2{
	background-color: chartreuse;
	align-items: center;
	display: flex;
	flex-direction: column;
}
figure{
	margin: 0px;
}
.red{
	background-color: red;
}

.green{
	height: 100px;
	background-color: green;
	width: 100px;
	margin: 10px;
}

img{
	width: 100px;
	height: 100px;
}
h2{
	text-align: center;
}
#sec3{
	background-color: bisque;
}
.interesting{
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 5px solid gold;
}
.interesting_text{
	margin-left: 20px;
}
.interesting_img{
	width: 200px;
	height: 200px;
	margin: 10px;
}
